
body
{
    background-color: #999999; 
    padding: 0;
    margin: 0;
}

.Header
{
    height: 200px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;     
    background-color: white;
}

.CommingSoonContent
{
    margin-top: 25px;
    margin-left: 25px;    
    color: white;
    width: 500px;
    height: 400px;
    font-size: 30pt;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;   
    background-color: #333333;
    opacity: 0.5;
    border-radius: 10px;
    float: left;
}

.ContactFormBox
{
    margin-top: 25px;
    margin-right: 25px;   
    padding: 5px;
    color: white;
    width: 500px;
    height: 400px;
    font-size: 30pt;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;   
    background-color: #333333;
    opacity: 0.5;
    border-radius: 10px;
    float:right;
}

.Header img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

label
{    
    font-size: 14px;    
}

input, label
{
    display: block;
}